<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="alert alert-danger col-12 col-md-6 offset-md-3" role="alert">
    <p class="alert-heading"><%= message %></p>
    <% if (redirectUrl) { %>
      <p class="mb-0">Redirecting to listings...</p>
    <% } %>
  </div>
</div>

<% if (redirectUrl) { %>
  <script>
    setTimeout(() => {
      window.location.href = "<%= redirectUrl %>";
    }, <%= redirectDelay || 1500 %>);
  </script>
<% } %>
